<% @yogies.each do |yogy| %>
  <div class="jumbotron">
    <h2>#<%= yogy[:title] %><% if yogy[:count].to_i > 1 %><sup><span class="badge"><%= yogy[:count].to_i %></span></sup><% end %>
        <small><%= yogy[:images].first.title %></small>
    </h2>
<a href="<%= image_path( yogy[:images].first ) %>">
    <p><%= image_tag(yogy[:images].first.s3.normal.url) %></p>
</a>
    <h4><%= yogy[:images].first.user.name %> <small><%= yogy[:images].first.created_at %></small></h4>
    <quote><%= yogy[:images].first.desc %></quote>
<% if yogy[:images].size > 1 %>
    <br />
    <hr />
    <br />
<% end %>
<div class="row">
  <% yogy[:images].drop(1).each do |image| %>
    <a href="<%= image_path( image ) %>">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag(image.s3.small.url) %>
          <div class="caption">
            <h3><%= image.title %></h3>
            <h4><%= image.user.name %> <small><%= image.created_at %></small></h4>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>
    <% if yogy[:count].to_i > yogy[:images].count %>
      :<br/>
      :<br/>
    <% end %>
  </div>

<% end %>

<%= render "layouts/footer" %>
