<% @yogies.each do |yogy| %>
  <div class="jumbotron">
    <h2>#<%= yogy[:title] %><% if yogy[:count].to_i > 1 %><sup><span class="badge"><%= yogy[:count].to_i %></span></sup><% end %>
        <small><%= yogy[:images].first.title %></small>
    </h2>
<a href="<%= image_path( yogy[:images].first ) %>">
    <p><%= image_tag(dn_path(yogy[:images].first, 'normal'), class: "img_yogy") %></p>
</a>
    <h4 class="text-right"><%= yogy[:images].first.user.name %> <small><%= yogy[:images].first.created_at %></small></h4>
    <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><small><small><%= yogy[:images].first.desc %></small></small></p>
<% if yogy[:images].size > 1 %>
    <br />
    <hr />
    <br />
<% end %>
<div class="row">
  <% yogy[:images].drop(1).each do |image| %>
    <a href="<%= image_path( image ) %>">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag(dn_path(image, 'small'), class: "img_yogy") %>
          <div class="caption">
            <h4><%= image.title %></h4>
            <h4 class="text-right"><%= image.user.name %> <small><%= image.created_at %></small></h4>
          </div>
        </div>
      </div>
    </a>
  <% end %>
</div>
    <% if yogy[:count].to_i > yogy[:images].count %>
      :<br/>
      :<br/>
    <% end %>
  </div>

<% end %>

<%= render "layouts/footer" %>
