<style>
.col-margin {
  margin-bottom: 30px;
}

.thumbnail {
  max-width: 380px;
  position: relative;
  overflow: hidden;
}

.bg {
    position: absolute;
    top: 0%;
    left: 15px;
      /*
    background-image: -webkit-gradient(
      linear, left top, left bottom, from(rgba(0,0,0,0.6)),
      to(rgba(0,0,0,0.0))
    );
  */
    background-image: linear-gradient(
      to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0)
    );
    /*background: rgba(0, 0, 0, 0.7); */
    width: calc(100% - 30px);
}

.caption {
  /*
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
      */
}
.yogy_thumbnail .caption {
  color: white;
  padding: kpx;
}
.bg .caption {
  color: white;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 15px;
}
</style>

<div class="row">
<% @yogies.each do |yogy| %>
  <% extra = Yogies.extra_by_images( yogy[:images] ) %>
  <% yogy_image = yogy[:images].shuffle.first %>
  <div class="col-md-6 col-lg-6 col-margin">
    <a href="<%= image_path( yogy_image ) %>">
      <%= responsive_image_tag( yogy_image, class: "yogy_img title img-responsive" ) %>
    </a>
    <div class="bg">
      <div class="caption text-right">
        <h6>
        <%= link_to yogy_image.user.name, image_filter_by_user_path( yogy_image.user_id ) %>님이 <%= link_to "##{yogy[:title]}", image_path(yogy_image.id) %>에서 찍은 사진입니다
        </h6>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render "layouts/footer" %>
