<div class="panel panel-default">
  <div class="panel-body">
    <% yogy = @yogies.first.andand.title %>
    <h3><%= link_to "##{yogy}", yogy_path(yogy) %>
    <small>
    <% @extra[:seasons].each do |season| %>
      <%= link_season_with_yogy( season, yogy ) %>
    <% end %> | 
    <% @extra[:years].each do |year| %>
      <%= link_year_with_yogy( year, yogy ) %>
    <% end %>
    </small>
    </h3>
  </div>
</div>

<div class="row">
<% @yogies.each do |yogy| %>
  <div class="col-xs-6 col-md-3">
    <div class="panel">
      <a href="<%= image_path( yogy.image ) %>">
      <%= responsive_image_tag(yogy.image, class: "yogy_img xsmall") %>
      </a>
    </div>
  </div>
<% end %>
</div>
