<div class="jumbotron">
    <%= form_for @image, html: { multipart: true } do |f| %>
      <div class="input-group">
      <%= f.label "#{t('images.new.title')}", class: "input-group-addon" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Enter a title." %>
      </div>
      <div class="input-group">
      <%= f.label "#{t('images.new.yogies')}", class: "input-group-addon" %>
      <%= f.text_field :yogies, class: "form-control", placeholder: "Enter yogies. ex) #yogi_1, #yogy_2"  %>
      </div>
      <br />
      <div class="input-group">
      <%= f.label "#{t('images.new.desc')}", class: "input-group-addon" %>
      <%= f.text_area :desc, class: "form-control", rows: "6", placeholder: "Enter a description" %>
      </div>
      <br />
      <div class="input-group">
        <%= f.file_field :asset, class: "form-control" %>
        <span class="input-group-btn">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
  </div>
</div>
