<% if !@image.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @image, html: { multipart: true }, :url => images_create_path, :method => :post do |f| %>
    <%= f.hidden_field :yogy_id, :value=>params[:yogy_id] %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :asset %>
    <%= f.file_field :asset %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>

