<% images.each do |image| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="<%= image_path( image ) %>">
      <%= responsive_image_tag(image, class: "yogy_img title") %>
      </a>
      <div class="caption">
        <h3><%= raw link_yogies(image.yogies) %></h3>
        <small><%= link_to image.user.name, image_filter_by_user_path( image.user.id ) %>님, <%= image.created_at %></small>
        <p style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"><%= sanitize image.desc %></p>
      </div>
    </div>
  </div>
<% end %>
