<div id="fb-root"></div>
<script>
  var language = "<%= I18n.locale %>";
  var sdk_url = '//connect.facebook.net/en_US/sdk.js';
  if (language == "ko") {
    sdk_url = '//connect.facebook.net/ko_KR/sdk.js'
  }
  $(document).ready(function() {
    $.ajaxSetup({ cache: true });
    $.getScript( sdk_url, function(){
        FB.init({
          appId   : '<%= ENV["FB_APP_ID"] %>',
          status  : true,
          xfbml   : true,
          version : 'v2.4' // or v2.0, v2.1, v2.0
        });     
    });
  });

  $('body').css("background-color","#121212");
</script>
<style>
.yogy_nav {
  position: absolute;
  top: -200px;
  font-size: 50px;
  cursor: pointer;
}
.yogy_nav.left {
  left: 0;
}
.yogy_nav.right {
  right: 0;
}
</style>

<% content_for :head do %>
<meta property="og:title" content="<%= @image.yogies %>" />
<meta property="og:url" content="<%= request.url %>" />
<meta property="og:description" content="<%= @image.desc.gsub("\n", " ") %>" />
<meta property="fb:app_id" content="<%= ENV["FB_APP_ID"] %>" />
<meta property="og:image" content="<%= dn_url(@image, "normal") %>" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="ko_KR" />
<meta property="og:locale:alternate" content="en_US" />
<meta property="article:author" content="<%= @image.user.uid %>" />
<% end %>

<div class="jumbotron">
  <div id="img_nav"><%= responsive_image_tag(@image, class: "yogy_img title") %></div>
  <h5><small id="exif"></small></h5>
  <br />
  <%= raw link_yogies_with_picture_count(@image.yogies_with_picture_count) %>
  <h5 class="text-right"><%= link_to @image.user.name, image_filter_by_user_path( @image.user.id ) %>님이 <%= @image.created_at %>에 등록했습니다.
  <% if not current_user.nil? and current_user.id == @image.user_id %>
    <span id="remove" class="glyphicon glyphicon-remove yogy_tone yogy_hand"></span>
  <% end %>
  </h5> 
  <br />
  <span id="description_edit" class="hidden">
    <span id="save_description" class="glyphicon glyphicon-ok yogy_tone yogy_hand"></span>
    <%= text_area_tag 'desc', @image.desc, rows: 10, style: "width:100%" %>
  </span>
  <span id="description">
  <% if not current_user.nil? and current_user.id == @image.user_id %>
    <span id="modify_description" class="glyphicon glyphicon-pencil yogy_tone yogy_hand"></span>
  <% end %>
    <address id="readonly_desc"><%= sanitize @image.desc.gsub("\n", "<br/>") %></address>
  </span>
  <button type="button" class="btn btn-default btn-xs" id="like" <%= "disabled" if not current_user.nil? and Liker.am_i? current_user.id, @image.id %>>
    <span class="glyphicon glyphicon-plus-sign yogy_tone"></span> <span id="like_count"><%= @image.like.andand.to_i %></span>
  </button>
  <button type="button" class="btn btn-default btn-xs" id="dislike" <%= "disabled" if not current_user.nil? and Disliker.am_i? current_user.id, @image.id %>>
    <span class="glyphicon glyphicon-minus-sign yogy_tone"></span> <span id="dislike_count"><%= @image.dislike.andand.to_i %></span>
  </button>
</div>

<div class="fb-like" data-href="<%= request.url %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false" data-no-turbolink></div>&nbsp;&nbsp;
<div class="fb-share-button" data-href="<%= request.url %>" data-layout="button_count" data-no-turbolink></div>
<br/>
<br/>
<br/>

<script>
$( ".yogy_img" ).load( function() {
  var img = $(".yogy_img")[0];
  EXIF.getData(img, function() {
    var exif_data = EXIF.getAllTags(img);
    var exposure_time = parseFloat(exif_data.ExposureTime.toString());
    var exposure_time_str = ""
    if (exposure_time >= 1) {
      exposure_time_str = exposure_time + "sec | "
    } else {
      exposure_time_str = "1/" + (1.0/exposure_time) + "sec | "
    }
    
    var message = exif_data.Artist + " | " +
                  exif_data.Copyright + "<br/>" +
                  exif_data.DateTimeOriginal + " | " +
                  exif_data.Model + " | " +
                  exif_data.ExposureProgram + " | " +
                  "iso " + exif_data.ISOSpeedRatings + " | " +
                  "f" + exif_data.FNumber.toString() + " | " +
                  exposure_time_str +
                  exif_data.FocalLength.toString() + "mm | " +
                  exif_data.Flash;
    $("#exif").html( message );
  });

  // show nav icon
  var height = $(".yogy_img.title").height();
  $("#img_nav").append( "<div class=\"yogy_nav left yogy_tone\"><span class=\"glyphicon glyphicon-chevron-left\"></span></div>" );
  $("#img_nav").append( "<div class=\"yogy_nav right yogy_tone\"><span class=\"glyphicon glyphicon-chevron-right\"></span></div>" );
  var yogy_nav_left = $(".yogy_nav.left");
  var yogy_nav_right = $(".yogy_nav.right");
  yogy_nav_left.css( "top", height / 2 );
  yogy_nav_right.css( "top", height / 2 );
  yogy_nav_left.click( function(e) {
    var url = "<%= image_nav_path( @image, 'prev' ) %>";
    window.location.href = url;
  } );
  yogy_nav_right.click( function(e) {
    var url = "<%= image_nav_path( @image, 'next' ) %>";
    window.location.href = url;
  } );

});


$(".yogy_img").click( function(e) {
  var side = -1;
  if ( e.pageX < ($(this).width() / 3) ) {
    side = 0;
  }

  if ( e.pageX > ($(this).width() / 3) * 2 ) {
    side = 1;
  }

  var url_prev = "<%= image_nav_path( @image, 'prev' ) %>";
  var url_next = "<%= image_nav_path( @image, 'next' ) %>";
  var url = ""
  if (side == 0) {
    url = url_prev;
  } else if (side == 1) {
    url = url_next;
  }

  if (url != "") {
    window.location.href = url;
  }
} );


$(document).ajaxSend(function(e, xhr, options) {
  var token = $("meta[name='csrf-token']").attr("content");
  xhr.setRequestHeader("X-CSRF-Token", token);
});

function ajax_save_description() {
  var jqxhr = $.post( "<%= image_save_description_path(@image) %>", $( "#desc" ).serialize(),
  function( result ) {
    //alert( "success" );
    if ( result["is_success"] == true ) {
      // text santinize 처리. 단지 보기 용도일 뿐이다.
      var toBeDisplayed = $("#desc").text($("#desc").val());
      $("#readonly_desc").html( toBeDisplayed.html().replace(/\n/g,"<br>") );
      toggle_edit();
    }
  })
  .done(function() {
    //alert( "second success" );
  })
  .fail(function() {
    alert( "error" );
  })
  .always(function() {
    //alert( "finished" );
  });
}

function ajax_save_like() {
  var jqxhr = $.post( "<%= image_like_path(@image) %>",
  function( result ) {
    if (result["is_success"] == true) {
      $("#like_count").replaceWith(result["like_count"]);
      $("#like").prop('disabled', true);
    }
  })
  .fail(function() {
    alert( "error" );
  });
}

function ajax_save_dislike() {
  var jqxhr = $.post( "<%= image_dislike_path(@image) %>",
  function( result ) {
    if (result["is_success"] == true) {
      $("#dislike_count").replaceWith(result["dislike_count"]);
      $("#dislike").prop('disabled', true);
    }
  })
  .fail(function() {
    alert( "error" );
  });
}
  
function toggle_edit() {
  $("#description").toggleClass("hidden");
  $("#description_edit").toggleClass("hidden");
}

$("#modify_description").click( function(e) {
  toggle_edit();
} );

$("#save_description").click( function(e) {
  ajax_save_description();
} );

$("#like").click( function(e) {
  <% if current_user.nil? %>
  window.location.href = "<%= user_omniauth_authorize_path(:facebook) %>";
  <% else %>
  ajax_save_like();
  <% end %>
} );

$("#dislike").click( function(e) {
  <% if current_user.nil? %>
  window.location.href = "<%= user_omniauth_authorize_path(:facebook) %>";
  <% else %>
  ajax_save_dislike();
  <% end %>
} );

$("#remove").click( function(e) {
  $.ajax({
    url: '<%= image_path( @image ) %>',
    type: 'DELETE',
    success: function(result) {
      if (result["is_success"] == true) {
        window.location.href = window.history.back();
      } else {
        alert('fail to delete');
      }
    }
  });

} );

</script>
