<script>
  $('body').css("background-color","#121212");

  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
  }
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '<%= ENV["FB_APP_ID"] %>',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.3' // use version 2.3
  });
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<% content_for :head do %>
<meta property="og:title" content="<%= @image.title %>" />
<meta property="og:site_name" content="Yogy"/>
<meta property="og:url" content="<%= request.url %>" />
<meta property="og:description" content="<%= @image.desc.gsub("\n", " ") %>" />
<meta property="fb:app_id" content="<%= ENV["FB_APP_ID"] %>" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="ko_KR" />
<meta property="og:locale:alternate" content="en_US" />
<meta property="article:author" content="<%= @image.user.name %>" />
<meta property="article:publisher" content="<%= @image.user.name %>" />
<% end %>

<div class="jumbotron">
  <p id="img_nav"><%= responsive_image_tag(@image, class: "yogy_img title") %></p>
  <h5><small id="exif"></small></h5>
  <br />
  <h3><%= @image.title %> <small><%= raw link_yogies(@image.yogies) %></small> <small><%= link_season_text(@image.season) %></small></h3>
  <h5 class="text-right"><%= @image.user.name %> <small><%= @image.created_at %></small></h5>
  <br />
  <address><%= sanitize @image.desc.gsub("\n", "<br/>") %></address>
</div>

<div
  class="fb-like"
  data-share="true"
  data-width="350"
  data-show-faces="true">
</div>

<script>
$( ".yogy_img" ).load( function() {
  var img = $(".yogy_img")[0];
  EXIF.getData(img, function() {
      var exif_data = EXIF.getAllTags(img);
      var exposure_time = parseFloat(exif_data.ExposureTime.toString());
      var exposure_time_str = ""
      if (exposure_time >= 1) {
        exposure_time_str = exposure_time + "sec | "
      } else {
        exposure_time_str = "1/" + (1.0/exposure_time) + "sec | "
      }
      
      var message = exif_data.Artist + " | " +
                    exif_data.Copyright + "<br/>" +
                    exif_data.DateTimeOriginal + " | " +
                    exif_data.Model + " | " +
                    exif_data.ExposureProgram + " | " +
                    "iso " + exif_data.ISOSpeedRatings + " | " +
                    "f" + exif_data.FNumber.toString() + " | " +
                    exposure_time_str +
                    exif_data.FocalLength.toString() + "mm | " +
                    exif_data.Flash;
      $("#exif").html( message );
  });

});

$(".yogy_img").click( function(e) {
  var side = -1;
  if ( e.pageX < ($(this).width() / 3) ) {
    side = 0;
  }

  if ( e.pageX > ($(this).width() / 3) * 2 ) {
    side = 1;
  }

  var url_prev = "<%= image_nav_path( @image, 'prev' ) %>";
  var url_next = "<%= image_nav_path( @image, 'next' ) %>";
  var url = ""
  if (side == 0) {
    url = url_prev;
  } else if (side == 1) {
    url = url_next;
  }

  if (url != "") {
    window.location = url;
  }
} );
  
</script>
