<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
  }
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1435050833470506',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.3' // use version 2.3
  });
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<% content_for :head do %>
<meta property="og:title" content="<%= @image.title %>" />
<meta property="og:site_name" content="Yogy"/>
<meta property="og:url" content="<%= request.url %>" />
<meta property="og:description" content="<%= @image.desc %>" />
<meta property="fb:app_id" content="1435050833470506" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="ko_KR" />
<meta property="article:author" content="<%= @image.user.name %>" />
<meta property="article:publisher" content="http://yogy.co.kr" />
<% end %>

<div class="jumbotron">
  <h1><%= @image.title %></h1>
  <p><%= image_tag(@image.asset.url) %></p>
  <p><%= @image.desc %></p>
  <small><%= @image.created_at %></small>
</div>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

