<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
  }
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '<%= ENV["FB_APP_ID"] %>',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.3' // use version 2.3
  });
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<% content_for :head do %>
<meta property="og:title" content="<%= @image.title %>" />
<meta property="og:site_name" content="Yogy"/>
<meta property="og:url" content="<%= request.url %>" />
<meta property="og:description" content="<%= @image.desc.gsub("\n", " ") %>" />
<meta property="fb:app_id" content="<%= ENV["FB_APP_ID"] %>" />
<meta property="og:type" content="article" />
<meta property="og:locale" content="ko_KR" />
<meta property="og:locale:alternate" content="en_US" />
<meta property="article:author" content="<%= @image.user.name %>" />
<meta property="article:publisher" content="<%= @image.user.name %>" />
<% end %>

<div class="jumbotron">
  <h2><%= @image.title %> <small><%= @image.yogies %></small></h2>
  <p><%= image_tag(dn_path(@image, 'normal'), class: "img_yogy", id: "img_yogy") %></p>
  <h4><%= @image.user.name %> <small><%= @image.created_at %></small></h4>
  <h5><small id="exif"></small></h5>
  <quote><%= @image.desc %></quote>
</div>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<script>
$( "#img_yogy" ).load( function() {
  var img = $("#img_yogy")[0];
  EXIF.getData(img, function() {
      var exif_data = EXIF.getAllTags(img);
      var message = exif_data.Artist + " | " +
                    exif_data.Copyright + "<br/>" +
                    exif_data.Model + " | " +
                    exif_data.DateTimeOriginal + " | " +
                    exif_data.ExposureProgram + " | " +
                    "f" + exif_data.FNumber.toString() + " | " +
                    exif_data.ExposureTime.toString() + "sec | " +
                    exif_data.FocalLength.toString() + "mm | " +
                    "iso " + exif_data.ISOSpeedRatings + " | " +
                    exif_data.Flash;
      $("#exif").html( message );
  });
});
</script>
