<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= new_image_path %>"><%= t('gnb.new_image') %></a></li>
        <li><a href="<%= images_path %>"><%= t('gnb.image_list') %></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
          <%= link_to "Sign out with Facebook", sign_out_path %>
          <% else %>
          <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
