<!DOCTYPE html>
<html>
<head>
  <title>Yogy</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
</head>
<body class="container">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63831377-1', 'auto');
  ga('send', 'pageview');

</script>
  <%= render "layouts/gnb" %>
  <div id="flash">
    <% flash.each do |key, value| %>
      <div id="flash_<%= key %>" class="alert alert-<%= alert_devise_to_bootstrap( key ) %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%=h value %>
      </div>
    <% end %>
  </div>

  <%= yield %>

<script>
$( document ).ready(function() {
//$(window).load(function() {
  img_lazyload();
});
</script>
</body>
</html>
